<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>JBenchX - {{ page.title }}</title>
   <meta name="author" content="Micha Riser" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/jbenchx/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  
  <div class="title">
    <a class="logo" href="/jbenchx"><img src="/jbenchx/pics/logo.png" align="middle">JBenchX</a> {{ page.title }}<br>	
    <a class="extra" href="/jbenchx">home</a>
<!--		<a class="extra" href="/news.html">news</a> -->
		<a class="extra" href="/jbenchx/example.html">example</a>
		<a class="extra" href="/jbenchx/philosophy.html">philosophy</a>		
		<a class="extra" href="/jbenchx/documentation.html">documentation</a>
		<a class="extra" href="/jbenchx/eclipse.html">eclipse</a>		
		<a class="extra" href="http://github.com/iquadrat/jbenchx">sources</a>		
		<a class="extra" href="http://github.com/iquadrat/jbenchx/issues">bugs</a>		
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Micha Riser<br />
        micha@povworld.org
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://www.povworld.de/michariser">www.povworld.de/michariser</a><br />
        <a href="http://twitter.com/i_quadrat">twitter.com/i_quadrat</a><br />
        <a href="https://github.com/iquadrat">github.com/iquadrat</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
